:root{
    --c_bg_green: #0E6655;
    --c_bg_red: #dc3545;
    --c_green_text: #D4EFDF;
    --c_white: #ffffff;
    --c_bg_gray: #E5E7E9;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

.w-30{ width: 30%; }
.w-35{ width: 35%; }
.w-40{ width: 40% }
.w-60{ width: 60%; }
.w-70{ width: 70%; }
.w-88{ width: 88%; }
.w-90{ width: 90%; }
.h-80{ height: 80%; }

.green_cl_text{
    background-color: var(--c_bg_gray);
    color: var(--c_bg_green);
}

.banner .cont{
    width: min(90%, 1200px);
}

.banner, .works, footer{
    background-color: var(--c_bg_green);
}

.banner_title{
    font-size: 5rem;
}

.banner_title_sec_height{
    height: 100%;
    color: var(--c_green_text);
}

.consult_btn{
    padding: .5rem 2rem;
    border-radius: 1.5rem;
    color: var(--c_white);
}

.banner_image_placeholder{
    width: 100%;
    height: 34.375rem;
    background: url(../assests/images/banner.jpg);
    background-size: cover;
    /* background-color: var(--c_green_text); */
    border-radius: 1rem;
}

.banner_video_section{
    background: var(--c_bg_red);
    border-radius: 1rem;
}

.banner_video .video-js{
    border-radius: 1rem;
    overflow: hidden;
}

.video-js .vjs-big-play-button{
    font-size: 5em;
    height: 80px;
    width: 80px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.services{
    background-color: var(--c_bg_gray);
}
.service_card{
    margin: 6rem 0;
    background-color: var(--c_white);
    overflow: hidden;
    border-radius: 1rem;
}

.work_img{
    height: 22rem;
    border-radius: 1rem;
    overflow: hidden;
    margin : 0 1.25rem;
}

.work_img img{
    width: 100%;
    height: 100%;
}

.contact{
    background-color: var(--c_bg_gray);
    padding: 6.25rem 0;
}

.contact .container{
   border-radius: 1rem;
   overflow: hidden;
}

.contact_left h1{
    font-size: 4rem;
}

.contact_image img{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.contact_left{
    background-color: var(--c_bg_green);
    color: var(--c_bg_gray);
}

.contact_left h1, .contact_left .contact_info{
    padding-left: calc(100% - 90%);
}

.contact_info h3{
    color: #CACFD2;
}

.social_media a img{
    width: 2rem;
}

.contact_form{
    background-color: var(--c_white);
}


.contact_form form input, .contact_form form textarea{
    background-color: #ECF0F1;
    border-radius: 1rem;
    padding: 2rem 1.5rem;
    outline: none;
    border: none;
}
.contact_form form textarea:focus, .contact_form form input:focus{
    outline: none;
    border: none;
}

.contact_form form textarea::placeholder, .contact_form form input::placeholder{
    color: #B3B6B7;
}

footer{
    background-color: var(--c_bg_green);
    color: var(--c_bg_gray);
}
.user_feedback{
    margin-left: -1rem;
    padding: 5rem 0;
}
.user_feedback .container{
    background-color: var(--c_bg_red);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;
}
.feedback_image{
    background: url(../assests/images/image3.jpg) no-repeat;
    background-size: cover;
    padding: 8rem 5rem;
}
.feedback_col{
    color: var(--c_white);
    padding: 8rem 5rem;

}

.feedback_carousel .owl-nav{
    display: block!important;
}
.old-nav{
    margin: 1rem 0!important;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
    width: 50px!important;
    height: 50px!important;
    background: #222222 !important;
    opacity: 0.5!important;
    border-radius: 50% !important;
    border: 0;
}

/* .banner_video video{
    width: 100%;
    height: 50%!important;
} */


/* media queries */
@media Screen and (min-width: 920px){
    .brand_logo{
        padding-left: 9rem;
    }
    .banner_image_placeholder{
        width: 31.25rem;
        height: 34.375rem;
    }
    .line{
        display: block;
        position: absolute;
        width: 1px;
        background-color:var(--c_white);
        right: 16%;
        top: 0;
        bottom: 0;
        height: 100%;
    }
}

@media screen and (min-width: 1140px){
    .service_card{
        height: 22rem;
    }
}